.page_header{

    @support (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rbga;
    }    
}

.page_header1{
    color: black;
    text-align: left;
    font-family: verdana;
}

.main_header{
    .container{
        color: blue;
        font-family: verdana;
        display: block;
        text-decoration: none;
    }
}
.main_page{
    padding-top: 1%;
    padding-bottom: 1%;
    .container{
        font-family: verdana;
    }
}

.page_footer{
    color: black;
    text-align: center;
    font-family: verdana;
    .name{
        color: red;
    }
}