
.page_header{
    color: black;
    text-align: center;
    font-family: verdana;
}

.main_header{
    .container{
        color: blue;
        font-family: verdana;
        display: block;
    }
}
.main_page{
    .container{
        font-family: verdana;
    }
}