.body{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
}

.page-header{
    @support (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rbga;
    }
    
    
}

.page-header__nav-link{
    margin: 0 25px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;     
}

.page-footer{
    color: black;
    text-align: center;
    font-family: verdana;
    .name{
        color: red;
    }
}